In [1]:
import pandas as pd
import numpy as np
from bokeh.plotting import figure
from bokeh.io import output_file , show

In [2]:
# p=figure(plot_width=500,plot_height=400, tools='pan',logo=None)

# p.title.text="Cool Data"
# p.title.text_color="Gray"
# p.title.text_font="times"
# p.title.text_font_style="bold"
# p.xaxis.minor_tick_line_color=None
# p.yaxis.minor_tick_line_color=None
# p.xaxis.axis_label="Date"
# p.yaxis.axis_label="Intensity"    
 
# p.line([1,2,3],[4,5,6])
# output_file("graph.html")
# show(p)

In [3]:
x = range(20)
y= np.sqrt(x)

In [4]:
output_file= "square.html"
#figure
f = figure()
#create line plot
f.line(x,y)
#show plot
show(f)

In [5]:
output_file= "triangle.html"
#figure
f1 = figure()
f1.triangle(x,y)
show(f1)

In [6]:
df = pd.read_csv('bachelors.csv')
x=df['Year']
y=df['Engineering']
output_file= "engineering.html"
#figure
f3 = figure()
f3.line(x,y)
#show plot
show(f3)

In [9]:
#pip3 install xlrd

In [10]:
df = pd.read_excel('verlegenhuken.xlsx')

In [16]:
df['Temperature'] = df['Temperature'] /10
df['Pressure'] = df['Pressure'] /10
df.sample(2)

       Year  Month  Day  Hour  Temperature  Pressure
8430   2011     10    5    15        -0.38    100.49
24332  2013     11   12    15        -1.07     98.92

In [32]:

from bokeh.plotting import figure
from bokeh.io import output_file , show
p3=figure(plot_width=500,plot_height=400, tools='pan')

p3.title.text="Temperature and pressure"
p3.title.text_color="Gray"
p3.title.text_font="times"
p3.title.text_font_style="bold"
p3.xaxis.minor_tick_line_color=None
p3.yaxis.minor_tick_line_color=None
p3.xaxis.axis_label="Temperature"
p3.yaxis.axis_label="Pressure"    
 
p3.circle(df["Temperature"],df["Pressure"] , size = 0.5)
output_file("weather.html")
show(p3)

In [25]:
df2= pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/AAPL?period1=1556465160&period2=1588087560&interval=1d&events=history" ,parse_dates=["Date"])

In [26]:
df2

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-29,204.399994,205.970001,203.860001,204.610001,201.966461,22204700
1,2019-04-30,203.059998,203.399994,199.110001,200.669998,198.077362,46534900
2,2019-05-01,209.880005,215.309998,209.229996,210.520004,207.800110,64827300
3,2019-05-02,209.839996,212.649994,208.130005,209.149994,206.447800,31996300
4,2019-05-03,210.889999,211.839996,210.229996,211.750000,209.014221,20892400
...,...,...,...,...,...,...,...
248,2020-04-22,273.609985,277.899994,272.200012,276.100006,276.100006,29264300
249,2020-04-23,275.869995,281.750000,274.869995,275.029999,275.029999,31203600
250,2020-04-24,277.200012,283.010010,277.000000,282.970001,282.970001,31627200
251,2020-04-27,281.799988,284.540009,279.950012,283.170013,283.170013,29236400
252,2020-04-28,285.079987,285.829987,280.562012,282.070007,282.070007,11582820

In [27]:
p = figure(width = 500, height = 250, x_axis_type ="datetime") #responsive = True

In [28]:
p.line(df2['Date'], df2['Close'] , color = "Orange", alpha = 0.5)
output_file =("Timeseries.html")
show(p)