# Data Wrangling with DataFrames Coding Quiz

Use this Jupyter notebook to find the answers to the quiz in the previous section. There is an answer key in the next part of the lesson.

In [1]:
import findspark
findspark.init('/home/yannick/dev/spark-2.4.4-bin-hadoop2.7')

In [38]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [39]:
from pyspark.sql import SparkSession

# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) write code to answer the quiz questions 
spark = SparkSession \
    .builder \
    .appName("Dataframe QUIZ") \
    .getOrCreate()

In [40]:
path = "data/sparkify_log.json"
user_log = spark.read.json(path)

# Question 1

Which page did user id "" (empty string) NOT visit?

In [41]:
# TODO: write your code to answer question 1
#user_log.describe('artist')
user_log.printSchema()
#user_log.select('artist').show()
user_log.select('artist').filter(user_log.userId== '').count()
user_log.select('page').filter(user_log.userId== '').dropDuplicates().show()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+-----+
| page|
+-----+
| Home|
|About|
|Login|
| Help|
+-----+

# Question 2 - Reflect

What type of user does the empty string user id most likely refer to?

In [42]:
# TODO: use this space to explore the behavior of the user with an empty string
user_log.select('page','artist','userID').filter(user_log.userId =='').show()

+-----+------+------+
| page|artist|userID|
+-----+------+------+
|Login|  null|      |
| Home|  null|      |
| Home|  null|      |
| Home|  null|      |
|Login|  null|      |
|Login|  null|      |
| Home|  null|      |
| Home|  null|      |
|Login|  null|      |
| Home|  null|      |
|Login|  null|      |
| Home|  null|      |
| Help|  null|      |
| Home|  null|      |
|Login|  null|      |
| Home|  null|      |
|Login|  null|      |
| Home|  null|      |
|Login|  null|      |
| Home|  null|      |
+-----+------+------+
only showing top 20 rows

# Question 3

How many female users do we have in the data set?

In [64]:
user_log.select('userId','gender').dropDuplicates().filter(user_log.gender=='F').count()

462

# Question 4

How many songs were played from the most played artist?

In [60]:
# TODO: write your code to answer question 4
user_log.select('artist','song').groupBy('artist').agg({'artist':'count'}).withColumnRenamed('count(Artist)', 'Artistcount') \
    .sort(desc('Artistcount')).show()

+--------------------+-----------+
|              artist|Artistcount|
+--------------------+-----------+
|            Coldplay|         83|
|       Kings Of Leon|         69|
|Florence + The Ma...|         52|
|            BjÃÂ¶rk|         46|
|       Dwight Yoakam|         45|
|       Justin Bieber|         43|
|      The Black Keys|         40|
|         OneRepublic|         37|
|        Jack Johnson|         36|
|                Muse|         36|
|           Radiohead|         31|
|        Taylor Swift|         29|
|          Lily Allen|         28|
|Barry Tuckwell/Ac...|         28|
|               Train|         28|
|          Nickelback|         27|
|           Daft Punk|         27|
|           Metallica|         27|
|          Kanye West|         26|
|     Alliance Ethnik|         24|
+--------------------+-----------+
only showing top 20 rows

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [65]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, count, when, col, desc, udf, col, sort_array, asc, avg
from pyspark.sql.functions import sum as Fsum
from pyspark.sql.window import Window
from pyspark.sql.types import IntegerType

In [93]:
flag_downgrade_event = udf(lambda x : 1 if x == 'Submit Downgrade' else 0, IntegerType()   )

In [94]:
user_log_valid = user_log.withColumn('downgraded',flag_downgrade_event('page'))

In [95]:
user_log_valid.take(2)

[Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046', downgraded=0),
 Row(artist='Lily Allen', auth='Logged In', firstName='Elizabeth', gender='F', itemInSession=7, lastName='Chase', length=195.23873, level='free', location='Shreveport-Bossier City, LA', method='PUT', page='NextSong', registration=1512718541284, sessionId=5027, song='Cheryl Tweedy', status=200, ts=1513720878284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='1000', downgraded=0)]

In [96]:
windowVal = Window.partitionBy('userId').orderBy(desc('ts')).rangeBetween(Window.unboundedPreceding,0)

In [97]:
user_log_valid = user_log_valid.withColumn('Phase' , Fsum('downgraded').over(windowVal))

In [102]:
user_log_valid.select('userId','firstName','page','phase','ts').where(user_log_valid.userId == 1138).sort('ts').collect()

[Row(userId='1138', firstName='Kelly', page='Home', phase=1, ts=1513729066284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513729066284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513729313284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513729552284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513729783284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513730001284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513730263284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513730518284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513730768284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513731182284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513731435284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513731695284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513731857284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513732160284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513732302284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513732540284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513732770284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513732994284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513733223284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513733456284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513733738284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513733941284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513734289284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513734598284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513734863284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513735174284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513735385284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513736040284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513736237284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513736446284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513736709284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513736915284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513737160284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513737460284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513737728284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513737936284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513738144284),
 Row(userId='1138', firstName='Kelly', page='Help', phase=1, ts=1513738197284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513738432284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513763195284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513763453284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513763622284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513763890284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513764238284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513764462284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513764782284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513765075284),
 Row(userId='1138', firstName='Kelly', page='Home', phase=1, ts=1513765075284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513765448284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513765655284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513765818284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513766091284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513766189284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513766385284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513766599284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513766838284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513767203284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513767413284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513767643284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513768012284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513768242284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=1, ts=1513768452284),
 Row(userId='1138', firstName='Kelly', page='Downgrade', phase=1, ts=1513768453284),
 Row(userId='1138', firstName='Kelly', page='Submit Downgrade', phase=1, ts=1513768454284),
 Row(userId='1138', firstName='Kelly', page='Home', phase=0, ts=1513768456284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=0, ts=1513814880284),
 Row(userId='1138', firstName='Kelly', page='Home', phase=0, ts=1513821430284),
 Row(userId='1138', firstName='Kelly', page='NextSong', phase=0, ts=1513833144284)]