# Data Wrangling Template

## Gather

In [1]:
import zipfile
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
%matplotlib inline
from bs4 import BeautifulSoup
import os

## Assess

## Clean
#### Define

#### Code

**Beautiful soup**

In [ ]:
dict = {}
df_list =[]
directory='rt_html'
for file_html in os.listdir(directory):
    with open(os.path.join(directory,file_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        try:
            
            title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
            audience_score = soup.find('div',class_ ='audience-score meter').find('span').contents[0].replace('%','')
        
            num_audience_ratings = soup.find('div',class_ ='audience-info hidden-xs superPageFontColor').find('span').contents[0][:-1]
        #num_audience_ratings = num_audience_ratings.find('div')[1].contents[2].strip().replace(',','').replace('%','')
        except:
            continue
        
        #print(num_audience_ratings)
        
        df_list.append(
        {
            'title': title,
            'audience_score': int(audience_score),
            'number_of_audience_ratings': (num_audience_ratings)
        }
        )

Clean¶
Define
Code

#### Test

In [3]:
df = pd.DataFrame(df_list, columns=['title','audience_score','number_of_audience_ratings'])     
df.head()

,title,audience_score,number_of_audience_ratings
0,Casablanca (1942),95,Average Rating
1,"The Godfather, Part II (1974)",97,Average Rating
2,Wonder Woman (2017),90,Average Rating
3,Tokyo Story (Tôkyô monogatari) (1953),93,Average Rating
4,Toy Story 2 (1999),86,Average Rating